# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# PHP
/vendor/
composer.lock

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
*.env

# Logs
logs/
*.log

# Operating System files
.DS_Store
Thumbs.db

# Build / Cache / Dist
dist/
build/
.cache/
.tmp/

# Database / Sensitive Files
*.sqlite3
*.db
*.sql
*.bak

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Others
.env.local
.env.*.local
